<table class="table table-striped" style="margin-bottom: 0px;">
    <tbody>
        <tr>
            <th><button type="button" class="establishment-filter btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Filter</button></th>
            <td style="width: 100%;"><div class="form-group" style="margin-bottom: 0px;"><input type="text" class="establishment-name form-control" name="establishment-name"/></div></td>
            <th><button type="button" class="create-establishment btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Create</button></th>
        </tr>
    </tbody>
</table>