<table class="table table-striped">
    <thead>
        <tr scope="row" class="sticky-header">
            <th><span class="glyphicon glyphicon-asterisk"></span></th>
            <th><%= gt.gettext("Code") %></th>
            <th><%= gt.gettext("Name") %></th>
            <th><%= gt.gettext("Parent") %></th>
            <% for (var i = 0; i < columns.length; ++i) { %>
                <% var column = columns[i]; %>
                <th name="<%= column.id %>"><%= column.label %></th>
            <% } %>
            <th><span class="action glyphicon glyphicon-th-list manage-columns" style="width: 5px;"></span></th>
        </tr>
    </thead>
    <tbody class="accession-list">
    </tbody>
</table>