<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= gt.gettext("Create an accession") %></h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label class="control-label" for="meta_model"><%= gt.gettext("Template") %></label>
                    <select id="meta_model" style="width:100%;" class="form-control">
                        <% _.each(meta_models, function(meta_model) { %>
                            <option value="<%= meta_model.id %>"><%= meta_model.label %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="control-label" for="accession_name"><%= gt.gettext("Principal name of the accession (must be unique)") %></label>
                            <input class="form-control name" id="accession_name" type="text" name="accession" value="" maxlength="64" autofocus="" autocomplete="off" style="width:100%;">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="accession_language"><%= gt.gettext("Language") %></label>
                            <select class="form-control language" id="accession_language" name="language"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group accession-parent-group">
                    <label class="control-label" for="accession_parent"><%= gt.gettext("Parent") %></label>
                    <select id="accession_parent" style="width:100%;" class="form-control"></select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default cancel" data-dismiss="modal"><%= gt.gettext("Cancel") %></button>
            <button type="button" class="btn btn-success continue"><%= gt.gettext("Continue") %></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
