<table class="table table-striped" style="margin-bottom: 0px;">
    <tbody>
        <tr>
            <th><button type="button" class="batch-filter btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Filter</button></th>
            <td style="width: 70%;"><div class="form-group" style="margin-bottom: 0px;"><input type="text" class="taxon-name form-control" name="batch-name"/></div></td>
            <th><span class="glyphicon glyphicon-pencil"></span>&nbsp;Action</button></th>
            <td style="width: 30%;"><div class="form-group" style="margin-bottom: 0px;"><select class="batch-action-type form-control" name="batch-action-type"></select></div></td>
        </tr>
    </tbody>
</table>