{% extends "main/index.html" %}

{# main_content #}
{% block main_content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Online Host of Genetics Resources</h4>
    </div>
    <div class="panel-body">
        Bla bla bla.
    </div>
</div>

{% endblock %}

{# detail #}

{% block left_content %}
<h3>Welcome</h3>
{% endblock %}

{% block right_content %}
<div>
    <h5 style="text-align: center; height: 14px;" >Events</h5>
    <hr style="margin: 0px;" />
    <div class="event">
        <span>It's your first time on OHGR ? Please read the license agreement and the welcome manual.</span>
    </div>
    <div class="event">
        <span>New on the start page : now blabla...</span>
    </div>
</div>
{% endblock %}
