<span style="font-weight:bold; font-size:18px; margin-bottom: 15px;">
        <% for (var i = taxon.get('parent_details').length-1; i >= 0; --i) { %>
        <span>
            <span class="action view-taxon" data-taxon-id="<%= taxon.get('parent_details')[i].id %>"><%= taxon.get('parent_details')[i].name %></span>
            <span class="taxon-rank badge left-margin" value="<%= taxon.get('parent_details')[i].rank %>"></span>
        </span>
        <span class="glyphicon glyphicon-chevron-right"></span>
    <% } %>
    <span>
        <span class="action view-taxon" data-taxon-id="<%= id %>"><%= taxon.get('name') %></span>
        <span class="taxon-rank badge left-margin" value="<%= taxon.get('rank') %>"></span>
    </span>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span>
        <span class="name entity"><%- name %></span>
    </span>&nbsp;
    <span class="glyphicon glyphicon-edit action change-parent"></span>
</span>