<div id="taxon_details"></div>
<div class="column" style="margin-top: 10px;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#taxon_synonyms" aria-controls="details" role="tab" data-toggle="tab"><%= gt.gettext("Synonyms") %></a></li>
        <li role="presentation"><a href="#taxon_descriptors" aria-controls="descriptors" role="tab" data-toggle="tab"><%= gt.gettext("Descriptors") %></a></li>
        <li role="presentation"><a href="#taxon_children" aria-controls="children" role="tab" data-toggle="tab"><%= gt.gettext("Sub-ranks") %></a></li>
        <li role="presentation"><a href="#taxon_entities" aria-controls="entities" role="tab" data-toggle="tab"><%= gt.gettext("Entities") %></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="taxon_synonyms" style="overflow-y: auto;">
        </div>
        <div role="tabpanel" class="tab-pane" id="taxon_descriptors" style="overflow-y: auto;">
        </div>
        <div role="tabpanel" class="tab-pane" id="taxon_children">
            <div class="children-content" style="overflow-y: auto;"></div>
            <div class="children-bottom"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="taxon_entities">
            <div class="entities-content" style="overflow-y: auto;"></div>
            <div class="entities-bottom"></div>
        </div>
    </div>
</div>