<table class="table table-striped table-advanced">
    <thead>
        <tr scope="row">
            <th><div><span class="glyphicon glyphicon-asterisk glyph-fixed-column"></span></div></th>
            <th><div><%= gt.gettext("Name") %></div></th>
            <th><div><%= gt.gettext("Rank") %></div></th>
            <th><div><%= gt.gettext("Parent") %></div></th>
            <th><div><%= gt.gettext("Synonym") %></div></th>
        </tr>
    </thead>
    <tbody class="taxon-list">
    </tbody>
</table>