div.action-format-type {
    margin: 15px;
}

div.panel-heading.current {
    background: repeating-linear-gradient(45deg, #ddd, #ddd 10px, #f5f5f5 10px, #f5f5f5 25px);
    font-weight: bold;
}

div.panel-heading.action-current > a:before {
    font-family: 'FontAwesome';
    content: '\f192';
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1em;
    color: inherit;
}

div.panel-heading.action-current > a, div.panel-heading.action-done > a, div.panel-heading.action-next > a {
    color: inherit;
}

div.panel-heading.action-done > a:before {
    font-family: 'FontAwesome';
    content: '\f058';
    padding-left: 5px;
    padding-right: 5px;
    color: inherit;
}

div.panel-heading.action-next > a:before {
    font-family: 'FontAwesome';
    content: '\f10c';
    padding-left: 5px;
    padding-right: 5px;
    color: inherit;
}
