<span class="config-id label label-default"><span class="config-module" style="font-weight: bold;"><%= module %>&nbsp;:&nbsp;</span><%= id %></span>
<div class="config-values">
<% for (var i = 0; i < values.length; ++i) { %>
    <% if (values[i].state == 0) { %>
        <div class="config-value-box alert alert-success">
            <span class="config-state label label-success"><%= gt.gettext("Configured") %></span>&nbsp;
            <span class="config-value"><%= values[i].value %></span>
        </div>
    <% } else if (values[i].state == 1) { %>
        <div class="config-value-box alert alert-danger">
            <span class="config-state label label-danger"><%= gt.gettext("Improperly configured") %></span>&nbsp;
            <span class="config-value"><%= values[i].value %></span>
        </div>
    <% } else if (values[i].state == 2) { %>
        <div class="config-value-box alert alert-warning">
            <span class="config-state label label-warning"><%= gt.gettext("Partially configured") %></span>&nbsp;
            <span class="config-value"><%= values[i].value %></span>
        </div>
    <% } else { %>
        <div class="config-value-box alert alert-info">
            <span class="config-state label label-default"><%= gt.gettext("Undefined") %></span>&nbsp;
            <span class="config-value"><%= values[i].value %></span>
        </div>
    <% } %>
<% } %>
</div>
