<div class="column" style="height: 100%;">
    <div class="left col-md-6">
        <div class="left-content"></div>
        <div class="left-bottom"></div>
    </div>
    <div class="right col-md-6">
        <div class="right-up">
            <div class="right-up-content"></div>
            <div class="right-up-bottom"></div>
        </div>
        <div class="right-down">
            <div class="right-down-content"></div>
            <div class="right-down-bottom"></div>
        </div>
    </div>
</div>