<div class="column">
    <div class="left col-md-6 column-left">
        <div class="left-content"></div>
        <div class="left-bottom"></div>
    </div>
    <div class="col-xs-1 column-spacer"></div>
    <div class="right col-md-6 column-right">
        <div class="right-up">
            <div class="right-up-content"></div>
            <div class="right-up-bottom layout-bottom"></div>
        </div>
        <div class="row-spacer"></div>
        <div class="right-down">
            <div class="right-down-content"></div>
            <div class="right-down-bottom layout-bottom"></div>
        </div>
    </div>
</div>