<!DOCTYPE html>

{% load i18n %}
{% load static from staticfiles %}
{% load collgate %}
{% load jquery %}
{% load bootstrap %}
{% load bootstrap3 %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>Coll-Gate IS Collection of Genetic Resources</title>
    {% if debug %}
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    {% else %}
        <link rel="shortcut icon" href="{% static 'main/img/favicon.png' %}" />
    {% endif %}

    {% jquery ui_css %}
    {% bootstrap bootstrap_css %}
    {% bootstrap select_css %}
    {% bootstrap igdectk.helper_css %}

    <style type="text/css">
        /* autocompletion loading icon */
        .ui-autocomplete-loading {
            background: white url("{% jquery ui_img#ui-anim_basic_16x16.gif %}") right center no-repeat;
        }
    </style>

    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    {% include 'bootstrap/style.html' %}
</head>

<body>

{% jquery jquery_js %}

{% bootstrap bootstrap_js %}
{% jquery igdectk.validator_js %}

<div class="navbar navbar-inverse navbar-static-top unselectable" role="navigation">
    <div class="container-fluid navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand url" href="#home/" style="color: white;">Coll-Gate IS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% include 'bootstrap/menu.html' %}
            </ul>
            <button class="btn btn-sm btn-success navbar-btn" id="nav_back"><span class="glyphicon glyphicon-backward"></span></button>
            <button class="btn btn-sm btn-success navbar-btn" id="nav_fwd"><span class="glyphicon glyphicon-forward"></span></button>
            <button class="btn btn-sm btn-success navbar-btn" id="nav_refresh"><span class="glyphicon glyphicon-refresh"></span></button>
            <button class="btn btn-sm btn-default navbar-btn" id="toggle_display"><span class="glyphicon glyphicon-expand"></span></button>
            <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'main:profile-signin' %}">
                {% csrf_token %}
                {% if not user.is_authenticated %}
                    <div class="form-group">
                        <input type="text" placeholder="{% trans 'Username' %}" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="{% trans 'Password' %}" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-success">{% trans "Sign in" %}</button>
                {% else %}
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span></button>
                {% endif %}
            </form>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown auth-user">
                        <a id="drop-profile" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu-drop-profile">
                            <li role="presentation" class="auth-user">
                                <a role="menuitem" class="url" tabindex="-1" href="#main/profile/edit/">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;{% trans "Edit information" %}
                                </a>
                            </li>
                            <li role="presentation" class="divider auth-user"></li>
                            <li role="presentation" class="auth-user">
                                <a role="menuitem" class="url" tabindex="-1" href="#main/profile/logout/">
                                    <span class="glyphicon glyphicon-off"></span>&nbsp;{% trans "Logout" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            <form class="navbar-form navbar-right" id='set_language' role="form" method="post" action="/coll-gate/i18n/setlang/">
                {% csrf_token %}
                <input hidden id="lang_redirect" value="/coll-gate/" name="next">
                <div class="form-group" style="margin-top: 4px;">
                    <select name="language" id="languages" style="width: 100%;">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            {% with 'main/img/lang/'|add:language.code|add:'.png' as image_static %}
                            <option value="{{ language.code }}" img="{% static image_static %}">{{ language.name_local|capfirst }} ({{ language.code }})</option>
                            {% endwith %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div id="messenger"></div>

<div id="root" class="container">
    {% block root %}
    {% endblock %}
</div> <!-- /container -->

<footer class="footer" style="margin-top: 5px;">
    <div class="container">
        <p style="text-align:center;">Coll-Gate IS {% collgate "version" %} Copyright &copy; 2016 INRA UMR1095</p>
    </div>
</footer>

<script language="javascript">
// initials alerts coming from django templating
initials_alerts = [{% spaceless %}
{% for message in messages %}
    {type: "{{ message|bootstrap_message_classes }}".split('-')[1], msg: "{{ message }}"},
{% endfor %}
{% endspaceless %}];

// client session
session = function() {
    if (typeof session !== 'undefined') {
        return session;
    } else {
        return {};
    }
}();

session.modules = {% collgate "modules" %};
session.debug = {{ debug|yesno:"true,false" }};
session.language = "{{ LANGUAGE_CODE }}";
session.languageDirection = "ltr";

session.user = {
    username: "{{ user.username }}",
    id: 0,
    isAuth: false,
    isSuperUser: false,
    isStaff: false,
    settings: {}
};

{% if user.is_authenticated %}
session.user.id = {{ user.id }};
session.user.isAuth = true;
session.user.isSuperUser = {{ user.is_superuser|yesno:"true,false" }};
session.user.isStaff = {{ user.is_staff|yesno:"true,false" }};
session.user.settings = {{ profile_settings|safe }};
{% endif %}

// LTR or RTL language
var elem = document.getElementById('languages');
if (window.getComputedStyle) { // all browsers
    session.languageDirection = window.getComputedStyle(elem, null).getPropertyValue('direction');
} else { // IE5-8
    session.languageDirection = elem.currentStyle.direction;
}

function addCss(code) {
    var style = document.createElement('style');
    style.type = 'text/css';

    document.getElementsByTagName("head")[0].appendChild(style);

    // grab style sheet
    //var styleSheet = style.sheet;
    // insert CSS Rule
    //styleSheet.insertRule(code, styleSheet.cssRules.length);

    // directly insert the css content
    style.innerHTML = code;
}

if (session.languageDirection == "rtl") {
    // this fix RTL support for bootstrap select
    addCss(".bootstrap-select.btn-group .btn .caret { position: absolute; top: 50%; left: 12px; margin-top: -2px; vertical-align: middle; }");
    addCss(".bootstrap-select.btn-group .btn .filter-option { display: inline-block; overflow: hidden; width: 100%; text-align: right; }");
}

</script>

<script language="javascript">
    $(function() {
        // avoid FancyTree error message on console
        // (opening an empty node, or with invisible nodes as first)
        $(document).on("error", function() {
            // nothing
        });

        //
        // multi languages support
        //

        $("#lang_redirect").attr('value', window.location.href);

        function formatLanguage(language) {
            if (!language.id) {
                return language.text;
            }

            var img = language.element.getAttribute("img");
            var lang = $(
                '<span><img style="margin-bottom: 3px;" src="' + img + '" class="img-flag" /> ' + language.text + '</span>'
            );
            return lang;
        };

        $('#languages').select2({
            minimumResultsForSearch: -1,  // no search box
            templateSelection: formatLanguage,
            templateResult: formatLanguage,
        });

        $('#languages').on("select2:select", function(e) {
            var language = $('#languages').val() || 'en';

            // update and save user setting
            var ui = application.getUserSetting('ui');
            ui.preferred_language = language;

            application.updateUserSetting('ui', ui);

            $.ajax({
                type: "POST",
                url: application.baseUrl + "i18n/setlang/",
                data: {language: $('#languages').val()}
            }).done(function(data) {
                // reload the application
                // Backbone.history.loadUrl() only reload the view (not sufficient compared to assign)
                // but could be interesting if the menus was generated by the client
                //window.location.assign(window.location);
                window.location.reload(true);
            });
        });

        $('#languages').val(session.language).trigger("change");

        //
        // history navigation
        //

        $(document).ajaxStart(function(event, jqXHR, settings) {
            window.ajax = true;

            $("#nav_back").prop('disabled', true);
            $("#nav_fwd").prop('disabled', true);
            $("#nav_refresh").prop('disabled', true);
        });

        $(document).ajaxStop(function(event, jqXHR, settings) {
            window.ajax = false;

            $("#nav_back").prop('disabled', false);
            $("#nav_fwd").prop('disabled', false);
            $("#nav_refresh").prop('disabled', false);
        });

        $("#nav_back").click(function(e) {
            if (!window.ajax) {
                Backbone.history.history.back();
            }
        });

        $("#nav_fwd").click(function(e) {
            if (!window.ajax) {
                Backbone.history.history.forward();
            }
        });

        $("#nav_refresh").click(function(e) {
            if (!window.ajax) {
                Backbone.history.loadUrl();
            }
        });

        //
        // single page navigation for menu links
        //

        $("a.url").each(function (index) {
            var href = $(this).attr("href");

            // href starting with ~ are actions that directly call a controller,
            // but doesn't modify the URL neither the history
            if (href.startsWith("~")) {
                $(this).attr("href", "#");
                $(this).on("click", function(e) {
                    var parts = href.slice(1).split('/');
                    if (!application[parts[0]]) {
                        return false;
                    };

                    var ctrl = application[parts[0]].controllers[parts[1]];
                    if (!ctrl) {
                        return false;
                    }

                    var method = parts[2];
                    ctrl[method]();

                    // close the menu and prevent default to open the url
                    $(".dropdown").removeClass("open");
                    $(".dropdown-toggle").attr("aria-expanded", false);

                    return false;
                });
            } else {
                // href starting with # are route that must be called
                // using the navigation mechanism
                href = href.replace('#', application.baseUrl + 'app/');
                $(this).attr("href", href);

                $(this).click(function (e) {
                    var href = $(this).attr("href").replace('/coll-gate/', '');
                    Backbone.history.navigate(href, {trigger: true});

                    // close the menu and prevent default to open the url
                    $(".dropdown").removeClass("open");
                    $(".dropdown-toggle").attr("aria-expanded", false);

                    return false;
                });
            }
        });

        // toggle display mode and save user setting
        $("#toggle_display").on("click", function(e) {
            var mode = $(this).attr("display-mode") || application.getUserSetting("ui")['display_mode'] || "2-8-2";
            var newMode = undefined;

            if (mode == "2-8-2") {
                newMode = "0-10-2";
            } else if (mode == "0-10-2") {
                newMode = "0-12-0";
            } else if (mode == "0-12-0") {
                newMode = "2-8-2";
            }

            if (mode != newMode && newMode != undefined) {
                application.setDisplay(newMode);
                $(this).attr("display-mode", newMode);

                // update and save user setting
                var ui = application.getUserSetting('ui');
                ui.display_mode = newMode;

                application.updateUserSetting('ui', ui);
            }
        });
    });
</script>

{% bootstrap igdectk.alert_js %}
{% bootstrap igdectk.helper_js %}
{% bootstrap select_js %}

{% jquery ui_js %}

{% if LANGUAGE_CODE == 'fr' %}
    {% jquery ui.datepicker-fr_js %}
{% endif %}

{% jquery igdectk_js %}
{% jquery igdectk.csrf_js %}

<!-- include application core -->
{% collgate "development" as development %}

{% if debug and development %}
<script src='{% collgate "webpack_host" %}{% collgate "webpack_entry" %}'></script>
{% else %}
<script src="{% static 'main/js/app.min.js' %}"></script>
{% endif %}

</body>
</html>